<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Patient Manages Page</title>
<style type="text/css">

h1{
 text-align:center;
 color:purple;
}

body{

   background-image:url('/image/backp.jpg');
  
}

</style>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	</head>
	
<body >

 <h1> Patient List </h1>
    
    
   <a th:href = "@{/showNewPatientForm}" class="btn btn-primary btn-sm mb-3">Add Patient</a>
   <a th:href="@{/appointmentlist}" class="btn btn-danger">Appointment</a>
    <a th:href="@{/paymentlist}" class="btn btn-primary btn-sm mb-3">Payment</a>
   

    <table border="1" class="table table-striped table-responsive-md">
    <thread>
         <tr>
         <th> Patient Id</th>
         <th> Patient Name</th>
         <th> Address</th>
         <th> Gender</th>
         <th> Disease</th>
         <th> EmailId</th>
         <th> ContactNumber</th>
         <th> BloodGroup</th>
         <th> Doctor</th>
         <th> Actions</th>
         </tr>
    </thread>
    <tbody>
          <tr th:each="patient :${listpatients}">
          <td th:text="${patient.id}"></td>
          <td th:text="${patient.name}"></td>
          <td th:text="${patient.address}"></td>
          <td th:text="${patient.gender}"></td>
          <td th:text="${patient.disease}"></td>
          <td th:text="${patient.emailId}"></td>
          <td th:text="${patient.contactNumber}"></td>
          <td th:text="${patient.bloodGroup}"></td>
          <td th:text="${patient.doctor}"></td>
          <td> <a th:href="@{/showFormForPatientUpdate/{id}(id=${patient.id})}" class="btn btn-primary">Update</a>
          <a th:href="@{/deletePatient/{id}(id=${patient.id})}" class="btn btn-danger">Delete</a>
</td>
          </tr>
          </tbody>
          </table>
 <hr>
<form th:action="@{/patientlogout}" method="post">
        <input type="submit" class="btn btn-info col-2" value="Logout" />
        </form>

</body>
</html>
          